src/main/resources/cliente.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
          <!-- XML Schema Generated from XML Document on Fri May 12 2023 09:31:26 GMT+0200 (hora de verano de Europa central) -->
          <!-- with XmlGrid.net Free Online Service http://xmlgrid.net -->
       <xs:element name="clientes">
              <xs:complexType>
                     <xs:sequence>
                            <xs:element name="cliente" maxOccurs="unbounded">
                                   <xs:complexType>
                                          <xs:sequence>
                                                 <xs:element name="dni" type="xs:string"></xs:element>
                                                 <xs:element name="nombreComple" type="xs:string"></xs:element>
                                                 <xs:element name="fechaNaci" type="xs:string"></xs:element>
                                                 <xs:element name="saldo" type="xs:int"></xs:element>
                                             </xs:sequence>
                                      </xs:complexType>
                               </xs:element>
                        </xs:sequence>
                 </xs:complexType>
          </xs:element>
   </xs:schema>